(
    log_level: "debug",
    transport: Tcp(
        Config(
            port: 3000,
        ),
    ),
    database: (
        name: "test",
        host: "localhost",
        port: 5432,
        user: "postgres",
        password: "postgres",
        ssl: false,
    ),
)
